{% assign posts = site.posts | sort: "date" %}
<a href="{{ posts.last.url | relative_url }}" target="_blank">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-content">
                    <p class="title is-4">Latest Blog post</p>
                    <p class="title is-5">{{ posts.last.title }}</p>
                </div>
            </div>
            <div class="content">
                <p>{{ posts.last.excerpt }}</p>
            </div>
        </div>
        <footer class="card-footer">
            {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
            <time class="is-size-7" datetime="{{ posts.last.date }}">{{ posts.last.date | date: date_format }}</time>
        </footer>
    </div>
</a>
