---
layout: default
---
{% assign event_list = site.events | sort: "event-date" %}

  <h1 class="has-text-centered">Events</h1>
  <p class="has-text-centered">Join us for community events that are focused on learning, sharing and networking</p>
    <br>
    <br>
    <!-- <table class="table is-fullwidth">
      <thead>
        <th class="has-text-centered">Event</th>
        <th class="has-text-centered">Type</th>
        <th class="has-text-centered">Date</th>
        <th class="has-text-centered">Location</th>
        <th class="has-text-centered">Description</th>
    </thead>
    <tbody> -->
        <p class="has-text-centered">This page is being redesigned. <a href="mailto:info@codeindore.com">Get in touch with us</a> for any queries or details that you may have in the meantime.</p>
      <!-- {% for event in event_list %}
      <tr>
            <td class="has-text-centered"><a href="{{ event.event-url }}">{{ event.title }}</a></td>
            <td class="has-text-centered">{{ event.type }}</td>
            <td class="has-text-centered">{{ event.event-date | date:"%b %d, %Y" }}</td>
            <td class="has-text-centered">{{ event.city }}</td>
            <td class="has-text-centered">{{ event.description }}</td>
            </tr>
      {% endfor %} -->
  <!-- </tbody> -->
</table>
