{% include header.html %}
    <div class="parallax"></div>
    <div class="is-desktop is-vcentered text-box text-center">
        <p class="subtitle has-text-centered container content">
            {{ content | remove: '<p>' | remove: '</p>' }}
        </p>
        <p class="content is-large has-text-centered">Sponsors and Supporters</p>
        <p class="content has-text-centered">The support of our generous sponsors, supporters, and patrons is highly appreciated.</p>
        <p class="content has-text-centered">Interested in sponsoring us? Please <a href="mailto:sponsor@codeindore.com">send us an email</a>. Or get in touch with us via <a href="/connect">other platforms</a></p>
        <div class="container content">
            <div class="columns is-centered is-8 is-desktop is-vcentered container content">
                <a href="https://education.github.com" class="is-one-quarter column" target="_blank"><img src="/res/sponsors/GitHub_Logo.png" alt="GitHub Logo"></a>
                <div class="column is-1"></div>
                <a href="https://cloudflare.com" class="is-one-quarter column" target="_blank"><img src="/res/sponsors/cf-logo-v-rgb.png" alt="Cloudflare Logo"></a>
                <div class="column is-1"></div>
                <a href="https://techcoopers.com" class="is-one-quarter column" target="_blank"><img src="/res/sponsors/tcLogo.png" alt="TechCoopers Logo"></a>
            </div>
            <div class="columns is-centered is-8 is-desktop is-vcentered">
                <a href="https://cloudinglab.com" class="is-one-quarter column" target="_blank"><img src="/res/sponsors/cloudinglab.png" alt="CloudingLab Logo"></a>
                <a href="https://vanfly.co" class="is-one-quarter column" target="_blank"><img src="/res/sponsors/vanfly.png" alt="Vanfly Logo"></a>
            </div>
        </div>
    </div>
{% include footer.html%}
