{% include header.html cannonical=page.cannonical %}
<div class="container content">
    <h2 class="has-text-centered">{{ page.title }}</h2>
    <br />
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    <span class="is-size-6"><a class="author-name" href="{{ page.author-link }}">{{ page.author }}</a> |</span>
    <time class="is-size-6" datetime="{{ page.date }}">{{ page.date | date: date_format }}</time>
    <br /><br />
    <div class="is-size-5">
        {{ content }}
    </div>
    <br />
    <br />
    {% if page.comments %}
        <div id="disqus_thread"></div>
        <script>
            var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ page.url }}";
            this.page.identifier = "{{ page.url }}";
            };
            (function() { // DON'T EDIT SCRIPT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://codeindore.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
</div>
{% include footer.html %}
